{% extends 'base.html' %}

{% load static %}

{% block content %}

<link href="{% static 'apps/about/index.css' %}" rel="stylesheet">

<div class="container">
    <h1 class="text-center">Компания КЕРАТЕХ: ваш надежный партнер в мире огнеупорных и изоляционных материалов</h1>

    <p>КЕРАТЕХ – это не просто поставщик, а ваш надежный партнер, который помогает вам достичь максимальной эффективности и конкурентоспособности в вашем бизнесе. Мы специализируемся на производстве и поставке высококачественных огнеупорных и изоляционных материалов, разработанных с учетом самых современных технологий.</p>

    <h2>Наша миссия</h2>
    <p>Наша миссия – предоставлять клиентам инновационные решения, которые помогут им:</p>

    <ul>
        <li>Повысить производительность: Наши материалы обеспечивают увеличение срока службы оборудования и снижение простоя, что позволяет увеличить производительность и снизить издержки.</li>
        <li>Обеспечить безопасность: Мы гарантируем высокую безопасность при эксплуатации оборудования, используя огнеупорные материалы, соответствующие самым строгим стандартам.</li>
        <li>Снизить энергопотребление:  Наши изоляционные материалы эффективно сохраняют тепло, что позволяет снизить энергопотребление и сократить выбросы в атмосферу.</li>
        <li>Получить конкурентное преимущество:  Используя наши огнеупорные и изоляционные материалы, вы получите возможность предложить более качественную продукцию или услуги, что позволит вам выйти вперед перед конкурентами.</li>
    </ul>

    <h2>Наши преимущества</h2>
    <ul>
        <li>Индивидуальный подход: Мы разрабатываем решения, учитывая конкретные нужды и задачи каждого клиента.</li>
        <li>Техническая поддержка: Наши специалисты оказывают квалифицированную помощь в выборе материалов, расчете необходимого количества и реализации проектов.</li>
        <li>Высокое качество и сертификация: Вся наша продукция соответствует международным стандартам и имеет необходимые сертификаты качества.</li>
    </ul>

    <h3 class="text-center">Мы уверены, что выбрав КЕРАТЕХ, вы получите надежного партнера, готового помочь вашему бизнесу достичь новых вершин успеха!</h3>
</div>

{% endblock %}

