{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'apps/core/404.css' %}" rel="stylesheet">
    <title>404 Ошибка</title>
</head>
<body>
    <h1>404</h1>
    <p>Ой! Что-то пошло не так.</p>
    <a class="btn btn-outline-light" href="{% url 'homepage:index' %}"><i class="icon-home"></i>Вернуться на главную страницу</a>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
