.carousel-item,
.carousel-item img {
  max-height: 825px;
  width: 100%;
}

.carousel-caption {
  text-shadow: 2px 2px 4px #000000;
}

.carousel-caption h2 {
  font-size: 2.5rem;
}

.carousel-caption p {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .carousel-item,
  .carousel-item img {
    max-height: 500px;
  }

  .carousel-caption h2 {
    font-size: 1.5rem;
  }

  .carousel-caption p {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  .carousel-item,
  .carousel-item img {
    max-height: 300px;
  }

  .carousel-caption h2 {
    font-size: 1.2rem;
  }

  .carousel-caption p {
    font-size: 1rem;
  }
}

.featurette h2 {
  font-size: 20px;
}

.featurette p {
  line-height: 2;
}

.featurette .col-md-5 img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  object-fit: cover;
}

.featurette .col-md-5 img:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
