.carousel-item,
.carousel-item img {
  max-height: 825px;
  width: 100%;
}

.carousel-caption h1 {
  color: white;
}

.featurette p {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  line-height: 2;
}

.featurette .col-md-5 img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  object-fit: cover;
}

.featurette .col-md-5 img:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
