{% extends 'base.html' %}

{% load static %}

{% block content %}

<link href="{% static 'apps/homepage/index.css' %}" rel="stylesheet">

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      {% if carousel_imgs|length > 1 %}
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
        {% for carousel_img in carousel_imgs|slice:"1:"  %}
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ forloop.counter }}" aria-label="Slide {{ forloop.counter|add:1 }}"></button>
        {% endfor %}
      {% endif %}
    </div>
    <div class="carousel-inner">
      {% if carousel_imgs %}
      <div class="carousel-item active">
        <img width="100%" height="100%" src="{{ carousel_imgs.0.photo.url }}">
      </div>

      {% for carousel_img in carousel_imgs|slice:"1:" %}
        <div class="carousel-item">
          <img width="100%" height="100%" src="{{ carousel_img.photo.url }}">
        </div>
      {% endfor %}
      {% else %}
         <h1 class="text-center">На данный момент в карусели нет фото</h1>
       {% endif %}
    </div>
    {% if carousel_imgs|length > 1 %}
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    {% endif %}
</div>

<hr class="featurette-divider m-2 p-2">

<div class="container p-2">
  {% for type in types %}
    <div class="row featurette text-center">
      {% if forloop.counter|divisibleby:2 %}
        <div class="col-md-7 order-md-2">
      {% else %}
        <div class="col-md-7">
      {% endif %}
          <h1 class="featurette-heading fw-normal lh-1">{{ type.title }}</h1>
          <p class="lead">{{ type.description }}</p>
        </div>
      
      {% if forloop.counter|divisibleby:2 %}
        <div class="col-md-5 order-md-1">
      {% else %}
        <div class="col-md-5">
      {% endif %}
          <a href="{% url 'product:type_detail' type.slug %}">
            <img src="{{ type.photo.url }}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="Фотография">
          </a>
        </div>
    </div>

    <hr class="featurette-divider">

  {% endfor %}
</div>


{% endblock %}
