{% extends 'base.html' %}

{% load static %}

{% block content %}


<link href="{% static 'apps/homepage/index.css' %}" rel="stylesheet">

<div class="container">
    <p>Здесь что-то должно быть</p>
    <p>Здесь что-то должно быть</p>
    <p>Здесь что-то должно быть</p>
    <p>Здесь что-то должно быть</p>
    <p>Здесь что-то должно быть</p>
    <p>Здесь что-то должно быть</p>
    <p>Здесь что-то должно быть</p>
    <p>Здесь что-то должно быть</p>
    <p>Здесь что-то должно быть</p>
    <p>Здесь что-то должно быть</p>
    <p>Здесь что-то должно быть</p>
    <p>Здесь что-то должно быть</p>
    <p>Здесь что-то должно быть</p>
    <p>Здесь что-то должно быть</p>
    <p>Здесь что-то должно быть</p>
    <p>Здесь что-то должно быть</p>
    <p>Здесь что-то должно быть</p>
    <p>Здесь что-то должно быть</p>
    <div id="text" class="typing">Керамика вдохновляет</div>
</div>

<script src="{% static 'apps/homepage/index.js' %}"></script>

{% endblock %}