{% load static %}

<link href="{% static 'apps/includes/footer.css' %}" rel="stylesheet">

<footer class="container p-4" >
  <ul class="list-group-flush">
    <li class="list-group-item"><a href="http://breaking-bad-online.ru/" target="blank" style="color: black; text-decoration: none;">Контакты</a></li>
    <li class="list-group-item">Адрес:394026, город Воронеж, ул. Плехановская, дом 66Б, офис 411 </li>
    <li class="list-group-item">info-ceratec@yandex.ru</li>
    <li class="list-group-item">+7(777)777-77-77</li>
    <li class="list-group-item"><p>© {% now "Y" %} Keratech</p></li>
    </ul>
  </p>
</footer>
