{% load static %}

<link href="{% static 'apps/includes/header.css' %}" rel="stylesheet">

<header>
  <div class="logo-container">
    <img src="{% static 'favicon_package/logo.jpg' %}">
  </div>
  <div class="header-container">
    <h4 class="header-title">Заголовок 1</h4>
    <div class="dropdown dropdown-1">
      <nav class="dropdown-content">
        <a href="#link1">Ссылка 1.1</a>
        <a href="#link2">Ссылка 1.2</a>
      </nav>
    </div>
  </div>

  <div class="header-container">
    <h4 class="header-title">Заголовок 2</h4>
    <div class="dropdown dropdown-2">
      <nav class="dropdown-content">
        <a href="#link3">Ссылка 2.1</a>
        <a href="#link4">Ссылка 2.2</a>
      </nav>
    </div>
  </div>

  <div class="header-container">
    <h4 class="header-title">Заголовок 3</h4>
    <div class="dropdown dropdown-3">
      <nav class="dropdown-content">
        <a href="#link5">Ссылка 3.1</a>
        <a href="#link6">Ссылка 3.2</a>
      </nav>
    </div>
  </div>
</header>

<script src="{% static 'apps/includes/header.js' %}"></script>
