{% load static %}

<link href="{% static 'apps/includes/header.css' %}" rel="stylesheet">

<header class="position-fixed">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand mobile" href="{% url 'homepage:index' %}">
        <img class="logo" src="{% static 'favicon/logo_text.svg' %}" width="70px" height="70px" alt="Кератех">
      </a>
      <button class="navbar-toggler border-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> 
      <a class="navbar-brand" href="{% url 'homepage:index' %}">
        <img class="logo" src="{% static 'favicon/logo_text.svg' %}" width="80px" height="80px" alt="Кератех">
      </a>
      <div class="collapse navbar-collapse align-self-center" id="navbarNavAltMarkup">
        <div class="navbar-nav text-center text-center">
          <a class="nav-link active" aria-current="page" href="{% url 'homepage:index' %}" style="color: #5cb3e2; text-decoration: none;"><b>Главная</b></a>
          <a class="nav-link active" aria-current="page" href="{% url 'product:product_list' %}" style="color: #5cb3e2; text-decoration: none;"><b>Продукты</b></a>
          <a class="nav-link active" aria-current="page" href="{% url 'about:index' %}" style="color: #5cb3e2; text-decoration: none;"><b>Контакты</b></a>
        </div>
      </div>
    </div>
  </nav>
</header>
