main {
    background-color: white;
    padding-top: 105px;
    ::selection {
        background-color: #5cb3e2;
    }
}

h1, h2, a {
    color: #5cb3e2;
}

@font-face {
    font-family: 'Bender';
    src: url('../fonts/Bender-Bold.woff2') format('woff2'),
         url('../fonts/Bender-Bold.woff') format('woff'),
         url('../fonts/Bender-Bold.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Bender', Arial, sans-serif;
}
