@import "https://fonts.fontstorage.com/import/bender.css";
main {
    background-color: #5cb3e2;
    font-family: 'Bender', Arial, sans-serif;
    padding-top: 105px;
    ::selection {
        background-color: white;
    }
}
