{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center p-5">
    {% if types %}
        {% for type in types %}
            <h1 class="text-center">{{ type.title }}</h1>
            {% if type.sorted_products %}
                {% for product in type.sorted_products %}
                    {% include 'includes/product_card.html' with product=product images=product.productgallery_set.all product_id=product.id %}
                {% endfor %}
            {% else %}
                <h2 class="text-center">Нет продуктов в категории "{{ type.title }}"</h2>
            {% endif %}
        {% endfor %}
    {% else %}
        <h1 class="text-center">На данный момент нет продукции</h1>
    {% endif %}
</div>

{% endblock content %}
