{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center m-2">
    {% regroup products by type as product_list %}

    {% for product_type in product_list %}
        <h1 class="text-center">{{ product_type.grouper }}</h1>
        {% for product in product_type.list %}
            {% include 'includes/product_card.html' with product=product images=product.productgallery_set.all product_id=product.id %}
        {% endfor %}
    {% endfor %}
</div>

{% endblock content %}

