{% extends 'base.html' %}

{% load static %}

{% block content %}


<section class="container text-center">
  <div class="row py-lg-5">
    <h1 class="fw-light">{{ type.title }}</h1>
  </div>
</section>

<div class="row justify-content-center m-2">
  {% if products_for_type|length > 0 %}
    {% for product in products_for_type %}
      {% include 'includes/product_card.html' with product=product images=product.images product_id=product.id %}
    {% endfor %}
  {% else %}
    <h1 class="text-center">Здесь пока отсутствует список продуктов.</h1>
  {% endif %}
  
</div>


{% endblock %}
