@import "https://fonts.fontstorage.com/import/bender.css";
header {
    font-family: 'Bender', Arial, sans-serif;
    background-color: white;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.logo {
    margin-left: 50px;
}
