.carousel,
.carousel-item img {
    width: 500px;
    height: 500px;
    position: fixed;
    margin: 0 auto;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
}

@media (max-width: 1200px) { 
    .carousel,
    .carousel-item img {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 991px) { 
    .carousel,
    .carousel-item img {
        position: static;
    }
}

@media (max-width: 500px) { 
    .carousel,
    .carousel-item img {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 400px) { 
    .carousel,
    .carousel-item img {
        width: 250px;
        height: 250px;
    }
}
