.carousel,
.carousel-item img {
    width: 500px;
    height: 500px;
}

@media (max-width: 500px) { 
    .carousel,
    .carousel-item img {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 400px) { 
    .carousel,
    .carousel-item img {
        width: 350px;
        height: 350px;
    }
}
