.content,
.carousel,
.carousel-item img {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.carousel,
.carousel-item img {
    position: fixed;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
}

@media (max-width: 1200px) {
    .content,
    .carousel,
    .carousel-item img {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 991px) {
    .content,
    .carousel,
    .carousel-item img {
        position: static;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .content,
    .carousel,
    .carousel-item img {
        height: 300px;
    }
}

@media (max-width: 400px) {
    .content,
    .carousel,
    .carousel-item img {
        height: 250px;
    }
}
